:root {
  --color-white: #fafafa;
  --color-gray: #d2d2d2;
  --color-brand: #0067a4;
  --color-brand-light: #0ca4ff;

  --shadow-focus: 0 0 0 0.2rem rgb(0 123 255 / 25%);

  --duration-default: 0.3s;

  --easing-default: cubic-bezier(0.25, 0.46, 0.45, 0.94);

  --rounded-md: 4px;
}

.tests-preview {
  position: absolute !important;
  top: -4px;
  right: -112px;
}

.tests-file-list__item {
  position: relative;
}
